<!--si no hay usuarios que mostrar, con la directiva ng-show comprobamos
el array usuarios y mostramos un mensaje-->
<div class="panel-custom" ng-show="usuarios.length == 0">
	<h3 class="subheader">No hay usuarios para mostrar</h2>
</div>
<!--creamos un campo de texto que nos servirá para buscar usuarios, simplemente
le damos como ng-model el mismo que le demos al atributo filter en el loop de abajo,
aparte de un buscador es un autocompletar, y más sencillo no puede ser-->
<!--sólo si hay usuarios mostramos el buscador-->
<input type="text" ng-model="buscador"  ng-show="usuarios.length > 0" />
<!--como nuestros usuarios no tienen id, la forma de poder eliminarlos es recorriendo
el array añadiendo la clave id, así podremos saber a cuál hacer referencia, de esta forma
al añadir usuarios y no tener definida su id, angularjs le asignará la siguiente al último usuario
existente, es decir, un campo autoincremental-->
	<div class="large-12 columns" ng-repeat="(id,usuario) in usuarios | filter: buscador">
	
	        <a href="#/info/{{id}}" class="large-12  button expand">
	        	Nombre: {{ usuario.nombre}} Web: {{ usuario.web }} Edad: {{ usuario.edad }} Profesión: {{ usuario.profesion }}
	        </a>
	       <!--aquí mostramos los dos botones, uno para ir a editar al usuario y otro para ir a eliminarlo-->
	        <div class="row">
				  <div class="large-6 columns"><a href="#/edit/{{id}}" class="button expand success">Editar</a></div>
				  <div class="large-6 columns"> <a href="#/remove/{{id}}" class="button expand alert">Eliminar</a></div>
			</div>
	</div>